@use "global" as *;

.section-01 {
    position: relative;
}

.section-01::after {
    display: none;
    @include mq(md){
        content: "";
        background-image: url(../../assets/images/common/decoration_01.png);
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        display: block;
        width: rem(485);
        height: rem(408);
        top: -24%;
        left: -11%;
        z-index: -1;
    }
}


