@use "global" as *;

.section-02 {
    margin-top: rem(100);
    @include mq(md){
        background-image: url(../../assets/images/common/decoration_02.png);
        background-repeat: no-repeat;
        background-position : right rem(-143) bottom 0;
        display: block;
        z-index: -1;
        padding-bottom: rem(225);
        margin-top: rem(254);
    }
}
