@use "global" as *;

.footer {
    margin-top: rem(120);
    padding-top: rem(50);
    padding-bottom: rem(36);
    background-color: $accent-color;
    text-align: center;
    position: relative;
    @include mq(sm){
        margin-top: rem(150);
        padding-top: rem(60);
        padding-left: rem(80);
        padding-right: rem(80);
        padding-bottom: rem(50);
    }
    @include mq(md){
        margin-top: rem(200);
    }
}

.footer::after {
        background-image: url(../../assets/images/common/decoration_01.png);
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        display: block;
        height: 25.5rem;
        left: -16%;
        top: -15%;
        position: absolute;
        width: rem(192);
        z-index: -1;
        @include mq(md){
            width: 30.3125rem;
            top: -24%;
            width: 30.3125rem;
        }
}

.footer__top {
    position: absolute;
    display: block;
    width: rem(40);
    height: rem(120);
    top: rem(-50);
    left: 50%;
    transform: translateX(-50%);
    @include mq(md){
        width: rem(60);
        top: rem(-78);
    }
}

.footer__img {
    max-width: rem(179);
    margin: 0 auto;
    @include mq(sm){
        max-width: rem(300);
    }
    @include mq(md){
        max-width: rem(456);
    }
}

.footer__contents {
    margin-top: rem(10);
    @include mq(md){
        display: flex;
        margin-top: rem(78);
        margin-left: rem(25);
        align-items: center;
        justify-content: center;
        gap: rem(24);
    }
}

.footer__guidance {
    @include mq(md){
        text-align: left;
        width: rem(470);
    }
}

.footer__message {
    margin: rem(18) auto 0;
    width: 85%;
    max-width: rem(300);
    @include mq(sm){
        width: 78%;
        min-width: rem(380);
        max-width: rem(388);
    }
    @include mq(md){
        margin: 0;
        width: rem(470);
        max-width: 100%;
    }
}

.footer__name {
    font-size: rem(20);
    font-weight: $bold;
    line-height: 2;
    @include mq(sm){
        font-size: rem(32);
        line-height: 1.4;
    }
}

.footer__text {
    font-size: rem(15);
    font-weight: $regular;
    line-height: 1.7;
    letter-spacing: 0.05em;
    @include mq(sm){
        font-size: rem(16);
        line-height: 1.4;
    }
}

.footer__text.footer__text--min {
    font-size: rem(14);
    @include mq(sm){
        font-size: rem(16);
    }
}


.footer__tel {
    font-size: rem(18);
    font-family: $fifth-font-family;
    font-weight: $regular;
    letter-spacing: 0.05em;
    @include mq(sm){
        font-size: rem(24);
    }
}

.footer__fax {
    font-size: rem(15);
    font-family: $fifth-font-family;
    font-weight: $regular;
    letter-spacing: 0.05em;
    @include mq(sm){
        font-size: rem(16);
        line-height:1.4;
    }
}
