@use "global" as *;

.guidance__name {
    font-size: rem(20);
    font-weight: $bold;
    line-height: 1.97;
    @include mq(md){
        font-size: rem(34);
        line-height: 1.5;
    }
}

.guidance__tel {
    font-weight: $bold;
    font-size: rem(20);
    @include mq(md){
        font-size: rem(28);
        display: inline;
    }
}

.guidance__text {
    font-size: rem(14);
    font-weight: $regular;
    line-height: 1.7;
    @include mq(md){
        font-size: rem(19);
        line-height: 1.5;
    }
}

.guidance__text--fax {
    margin-top: rem(5);
    @include mq(md){
        margin-top: 0;
        display: inline;

    }
}