@use "global" as *;

.loader {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    min-height: rem(400);
    z-index: 10000;
    background-color: #fff;
}

.loader.is-load {
    display: none;
}

.loader__img {
    height: 100vh;
    width: 100%;
}

.loader__img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.loader__img--01 {
    opacity: 0;
    transition: 1.5s;
}

.loader__img--01.is-load {
    opacity: 1;
}

.loader__img--02 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 2s;
}

.loader__img--02.is-load {
    opacity: 1;
}

.loader__img--03 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 2s;
}

.loader__img--03.is-load {
    opacity: 1;
}
