@use "global" as *;

.main-view {
    height: 100vh;
    width: 100%;
    background-image: url(../../assets/images/common/fv_01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    background-position: center;
    position: relative;
    opacity: 0;
    transition: 2s;
    @include mq(md){
        justify-content: center;
    }
}

.main-view.is-load {
    opacity: 1;
    animation-name:zoomInAnime;
    animation-duration:2s;
    animation-fill-mode:forwards;
}


@keyframes zoomInAnime{
    from {
    transform: scale(1.08);
    }

    to {
        transform: scale(1);
    }
}


.main-view__inner {
    padding: 0 rem(20);
    margin: 0 auto;
    @include mq(md){
        text-align: center;
    }
}

.main-view__title {
    max-width: rem(463);
    margin: 0 auto;
    opacity: 0;
    transition: 2.2s;
    @include mq(sm){
        width: 80%;
    }
    @include mq(md){
        max-width: rem(652);
        width: 100%;
    }
}

.main-view__title.is-load {
    opacity: 1;
}

.main-view__left {
    display: none;
        @include mq(sm){
            display: block;
            opacity: 0;
            position: fixed;
            left: rem(34);
            top: 40%;
            width: rem(25);
            z-index: 10;
            transition: 1.3s;
            transform: translate(-50px, 0);
        }
        @include mq(md){
            top: 31%;
        }
}


.main-view__right {
    display: none;
    @include mq(sm){
        display: block;
        opacity: 0;
        display: block;
        position: fixed;
        top: 40%;
        right: rem(34);
        bottom: 23%;
        width: 25px;
        z-index: 10;
        transition: 1.3s;
        transform: translate(50px, 0);
    }
    @include mq(md){
        top: 32%;
    }
}

.main-view__left.is-load,.main-view__right.is-load {
    opacity: 1;
    transform: translate(0, 0);
}

.main-view__decoration {
    position: absolute;
    bottom: rem(-20);
    width: 100%;
}

.main-view::before {
    content: "";
    background: url(../../assets/images/common/nami.svg);
    background-size: rem(700);
    position: absolute;
    display: block;
    width: 100%;
    height: rem(35);
    bottom: 0;
    @include mq(md){
        background-size: 100%;
    }
    @include mq(xxl){
        background-size: rem(1800);
    }
}

.main-view::after {
    content: "";
    background: url(../../assets/images/common/scroll.svg);
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    width: rem(55);
    height: rem(177);
    bottom: rem(-123);
    left: 50%;
    transform: translateX(-50%);
    @include mq(md){
        width: rem(74);
        bottom: rem(-111);
    }
}
