@use "global" as *;

.map {
    position: relative;
}

.map::before {
    content: "";
    background: url(../../assets/images/common/nami.png);
    position: absolute;
    display: block;
    width: 100%;
    height: rem(35);
    bottom: 0;
}

.map__link a {
    position: absolute;
    right: rem(10);
    bottom: rem(40);
    font-size: rem(14);
    background-color: $white;
    display: inline-block;
    padding: rem(5) rem(14);
	border-radius: rem(30);
	cursor: pointer;
    transition: .3s;
    @include mq(md){
        font-size: rem(18); 
        padding: rem(18) rem(50);
        right: rem(70);
        bottom: rem(80);
    }
}

.map__link a:hover {
    background-color: $black;
    color: $white;
}

