@use "global" as *;

.online-shop a:hover img:first-of-type{
    opacity: 0;
}

.online-shop a {
    position: relative;
    display: flex;
}

.online-shop a img {
    transition: .3s;
}

.online-shop img:last-of-type {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.online-shop a:hover img:last-of-type{
    opacity: 1;
}