@use "global" as *;

.recipe {
    margin-top: rem(50);
    opacity: 0;
    transition-duration: 1000ms;
    transition-property: opacity, transform;
    transform: translate(0, 10px);
    @include mq(sm){
        // padding: 0 rem(100);
    }
    @include mq(md){
        margin-top: rem(100);
    }
}

.recipe.is-scroll-in {
    opacity: 1;
    transform: translate(0, 0);
}

.recipe__container {
    background-color: #DCD9BD;
    outline: 1px solid rgb(64,33,15);
    outline-offset: -8px;
    padding: rem(28) rem(30);
    @include mq(md){
        padding: rem(60) rem(67) rem(80);
    }
}

.recipe__top {
    margin: rem(5) auto;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mq(md){
        margin: rem(10) auto;
        gap: 1%;
    }
}


.recipe__titles {
    width: 40%;
    min-width: rem(300);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe__title {
    margin-top: rem(9);
    width: 76%;
    @include mq(sm){
        width: 86%;
    }
    @include mq(md){
        width: 86%;
    }
}

.recipe__sub-title {
    width: 46%;
    @include mq(md){
        width: 55%;
    }
}

.recipe__decoration {
    display: none;
    @include mq(md){
        display: block;
        margin-top: rem(15);
        width: 29.5%;
    }
}

// .recipe__title::after {
//     @include mq(md){
//         content: "";
//         background-image: url(../../assets/images/common/recipe-deco.svg);
//         background-repeat: no-repeat;
//         position: absolute;
//         display: block;
//         width: rem(313);
//         height: rem(5);
//         top: 50%;
//         transform: translateY(-50%);
//         right: 94%;
//     }
// }

// .recipe__title::before {
//     @include mq(md){
//         content: "";
//         background-image: url(../../assets/images/common/recipe-deco.svg);
//         background-repeat: no-repeat;
//         position: absolute;
//         display: block;
//         width: rem(313);
//         height: rem(5);
//         top: 50%;
//         transform: translateY(-50%);
//         left: 106%;
//     }
// }


.recipe__contents {
    margin-top: rem(20);
    @include mq(md){
        margin-top: rem(30);
        display: flex;
        gap: 5%;
        align-items: start;
    }
}   

.recipe__img {
    @include mq(md){
        width: 49%;
    }
}

.recipe__description {
    margin-top: rem(20);
    font-size: rem(14);
    font-family: $forth-font-family;
    line-height: 1.84;
    @include mq(md){
        width: 46%;
        margin-top: 0;
    }
}

.recipe__text {
    color: #40210f;
    font-weight: $semibold;
    margin-left: 1em;
    @include mq(md){
        font-size: rem(18);
    }
}

.recipe__text p {
    text-indent: -1em;
}


.recipe__warning {
    margin-top: rem(20);
    font-weight: $regular;
    @include mq(md){
        font-size: rem(16);
    }
}

