@use "global" as *;

.section01 {
    margin-top: rem(65);
}

.section01__inner {

}

.section01__top {
    width: 100vw;
    margin: 0 calc(50% - 50vw);
    position: relative;
    aspect-ratio: 375 / 160;
}

.section01__top img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.section01__top::after {
    content: "";
    background: url(../../assets/images/common/nami.png);
    position: absolute;
    display: block;
    width: 100%;
    height: rem(35);
    bottom: 0;

}

.section01__title {
    width: rem(250);
    margin: 0 auto;
}

.section01__contents {
}

.section01__img {

}

.section01__message {

}

.section01__sub-title {
    color: $accent-color;
    font-size: rem(18);
    line-height: 1.8;
    font-weight: 600;
    font-family: $forth-font-family;
    letter-spacing: 0.1em;
}

.section01__text {

}

