@use "global" as *;

.section {
    position: relative;
    opacity: 0;
    transition-duration: 1000ms;
    transition-property: opacity, transform;
    transform: translate(0, 10px);
}

.section.is-scroll-in {
    opacity: 1;
    transform: translate(0, 0);
}

.section__number {
    position: absolute;
    top: -3%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    @include mq(md){
        top: -7%;
    }
}

.section__number--01 {
    width: rem(40);
    @include mq(md){
        width: rem(104);
    }
}

.section__number--02 {
    width: rem(60);
    @include mq(md){
        width: rem(166);
    }
}

.section__number--03 {
    width: rem(60);
    @include mq(md){
        width: rem(140);
    }
}

.section__top {
    width: 100%;
    position: relative;
    height: rem(160);
    @include mq(sm){
        height: rem(200);
    }
    @include mq(md){
        height: rem(388);
    }
}

.section__top img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.section__top--02 img{
    object-position: top;
}

.section__top::before {
    content: "";
    background: url(../../assets/images/common/nami.svg);
    background-size: rem(700);
    position: absolute;
    display: block;
    width: 100%;
    height: rem(35);
    bottom: 0;
    @include mq(md){
        background-size: 100%;
    }
    @include mq(xxl){
        background-size: rem(1800);
    }

}

.section__title {
    width: rem(250);
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
    @include mq(md){
        width: rem(400);
        top: 11%;
    }
}

.section__contents {
    opacity: 0;
    transition-duration: 1000ms;
    transition-property: opacity, transform;
    transform: translate(0, 10px);
    @include mq(md){
        display: flex;
        gap: 7%;
        justify-content: center;
        align-items: start;
        margin-top: rem(90);
    }
}

.section__contents.is-scroll-in {
    opacity: 1;
    transform: translate(0, 0);
}

.section__contents--02 {
    @include mq(md){
        flex-direction: row-reverse;
    }
}

.section__contents--end {
    @include mq(md){
        align-items: end;
    }
}

.section__img {
    margin-top: rem(20);
    aspect-ratio: 335 / 223 ;
    @include mq(md){
        margin-top: 0;
        width: 46%;
        max-width: 100%;
        aspect-ratio: 550 / 590 ;
    }
}

.section__img--01 {
    aspect-ratio: 335 / 223 ;
        @include mq(md){
        aspect-ratio: 550 / 590 ;
    }
}

.section__img--02 {
    aspect-ratio: 335 / 223 ;
@include mq(md){
    aspect-ratio: 574 / 748 ;
}
}

.section__img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.section__imgs {
    margin-top: rem(20);
    @include mq(md){
        margin-top: 0;
        width: 46%;
        max-width: 100%;
    }
}

.section__img03 {
    width: 100%;
    aspect-ratio: 335 / 223 ;
    @include mq(md){
        height: rem(380);
    }
}

.section__img03:not(:first-of-type) {
    margin-top: rem(10);
}

.section__img03 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.section__message {
    margin-top: rem(20);
    @include mq(md){
        margin-top: 0;
        width: 47%;
        min-width: rem(500);
    }
}

.section__sp-title {
    color: $accent-color;
    font-size: rem(18);
    line-height: 1.8;
    font-weight: $normal;
    font-family: $forth-font-family;
    letter-spacing: 0.1em;
    @include mq(sm){
        font-size: rem(24);
    }
    @include mq(md){
        display: none;
        font-size: rem(25);
        line-height: 2;
    }
}


.section__pc-title {
    display: none;
    @include mq(md){
        color: $accent-color;
        display: block;
        font-weight: $normal;
        font-family: $forth-font-family;
        letter-spacing: 0.1em;
        font-size: rem(30);
        line-height: 2;
    }
}

.section__text {
    font-size: rem(13);
    letter-spacing: -0.07em;
    line-height: 1.9;
    margin-top: rem(20);
    @include mq(md){
        font-size: rem(15);
    }
}

.section__text p {
    text-indent: rem(13);
    @include mq(md){
        text-indent: rem(15);
    }
}

.section__text p:not(:first-of-type) {
    margin-top: rem(20);
    @include mq(md){
        margin-top: rem(41);
    }
}

.section__text--top {
    margin-top: 0;
}

.section__animation {
    bottom: rem(-24);
    position: absolute;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    @include mq(md){
        bottom: rem(-72);
    }
}

.section__animation img {
    width: rem(2000);
}

.section__animation img:nth-child(odd) {
    animation: loop 40s -20s linear infinite;
    padding-right: 4px;
}

.section__animation img:nth-child(even) {
    animation: loop2 40s linear infinite;
    padding-right: 10px;
}

@keyframes loop {
    0% {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes loop2 {
    0% {
        transform: translateX(0);
    }
    to {
        transform: translateX(-200%);
    }
}
